<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Chemistry Lab</title>
  </head>
  <body>
    <div class="container" id="app">
      
    </div>
  </body>
</html>